<div class="main-container flex-column">
    <h1>New game:</h1>
    <ul class="main-container">
        <% @letters.each do |letter| %>
        <li style="list-style: none"><%= letter.capitalize %></li>
        <% end %>
    </ul>
    <form class="form-inline" role="form" action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters%>
        <div class="form-group">
            <label>What is the longest word you can find?</label>
            <input class="form-control" type="text" name="word">
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="Play!">
        </div>
    </form>      
</div>
