<div class="main-container flex-column">
    <h1>Result</h1>
    <p><%= @message %></p>
</div>

<div class="main-container">
    <%= link_to "Play again!", new_path, :class => "btn btn-primary" %>
</div>